<link rel="stylesheet" href="../css/charblueps.css"/>
<link rel="stylesheet" href="../css/navbar.css"/>
<div>
    <nav class="navbar">
        <h1>Nat20</h1>
        <ul class="navbar-ul">
            <li id="home-btn" class="navbar-item">Home</li>
            <li id="about-btn" class="navbar-item">About</li>
            <li id="community-btn" class="navbar-item">Community</li>
            <li id="char-blueps-btn" class="navbar-item">Character Blueprints</li>
            <li class="navbar-item navbar-profile" id="navbar-profile">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
            </li>
        </ul>
    </nav>
    <div class="profile" id="profile">
        <div class="close-profile-button-div">
            <button class="close-profile-button close-profile-btn" id="close-profile-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x x close-profile-btn" viewBox="0 0 16 16">
                    <path class="close-profile-btn" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </button>
        </div>
        <div class="profile-picture-div">
            <canvas class="profile-picture" id="profile-picture"></canvas>
            <button data-modalid="modal-profile-picture" id="pp-change-btn">Change Profile Picture</button>
        </div>
        <div class="username-email-div">
            <div class="username-div">
                <input class="edit-username" id="edit-username-input" type="text" value={{username}}>
                <button class="edit-username" id="edit-username-button">Save</button>
                <h2 class="username editable" id="username" onmouseover="onhoveredit(this)" onmouseleave="onleaveedit(this)">{{username}}
                <button class="edit-button" id="edit-username-button-pencil">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                </button>
                </h2>
            </div>
            <div class="email-div">
                <input class="edit-email" id="edit-email-input" type="text" value={{email}}>
                <button class="edit-email" id="edit-email-button">Save</button>
                <p class="email editable" id="email" onmouseover="onhoveredit(this)" onmouseleave="onleaveedit(this)">{{email}}
                <button class="edit-button" id="edit-email-button-pencil">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                </button>
                </p>
            </div>
        </div>
        <div>
            <ul id="invite-ul">
                {{#each invite}}
                <li>You are invited to {{this.game_name}} from {{this.from_user}}<button class="accept-invite-button" data-id={{this.id}} data-gameid={{this.game_id}}>Accept</button><button class="decline-invite-button" data-id={{this.id}} data-gameid={{this.game_id}}>Decline</button></li>
                {{/each}}
            </ul>
        </div>
        <div class="logout-button-div">
            <button class="logout" id="logout">Logout</button>
        </div>
    </div>
    <div id="page-body">
        <div id="charblueps-content">
            <h2 id="charblueps-title">Character Blueprints</h2>
            <button id="create-btn">Create</button>
            <div id="charblueps-chars">

            </div>
        </div>
    </div>
</div>
<script src="../js/navbar.js"></script>
<script src="../js/charblueps.js"></script>